<!doctype html>
<html lang="en-US">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
        Welcome
    </title>
    </head>
    <body>
    <div>
        <ul>
        {{ range . }}
        <li>{{ if (eq .Name "Elisha") }}bubsie{{ else }} {{ .Name }} {{ end }}</li>
        <ul>
            <li>{{ .Age }}</li>
            <li>{{ .Gender }}</li>
        </ul>
        {{ end }}
        </ul>
    </div>
    </body>
</html>